  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @tailwind components;
  @tailwind utilities;

  @font-face {
    font-family: 'HarryPotter';
    src: url('/fonts/Harry-Potter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Dancing Script';
    src: url('f/onts/DancingScript-VariableFont_wght.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

    @font-face {
    font-family: 'Kavoon';
    src: url('/fonts/Kavoon-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
