---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Testimonial from "../components/Testimonial.astro";
import JoinUs from "../components/JoinUs.astro";
import Hero1 from "../components/Hero1.astro";
import CarouselMultiple from "../components/CarouselMultiple.astro";
import Carr from "../components/Carr.astro";

const carouselItems = [
	{ imgSrc: "/public/mama1.png", imgAlt: "Descripci贸n 1", text: "Texto 1" },
	{ imgSrc: "/public/mama2.png", imgAlt: "Descripci贸n 2", text: "Texto 2" },
	{ imgSrc: "/public/mama3.png", imgAlt: "Descripci贸n 3", text: "Texto 3" },
	{ imgSrc: "/public/mama4.png", imgAlt: "Descripci贸n 4", text: "Texto 4" },
];
---

<Layout>
	<Navbar />
  <div class="max-w-7xl mx-auto  bg-white">
		<Hero1
			slides={[
				"/public/hero1.png",
				"/public/hero2.png",
				"/public/hero3.png",
			]}
			title="Reg谩lale a tu peque la mejor experiencia en su d铆a especial"
			subtitle=""
			buttonText="隆Agenda tu evento ya!"
			delay={0}
		/>
		<section class="flex border border-blue-900 justify-center items-center">
			<div
				class="text-4xl md:text-5xl font-bold text-center text-[#ff6b6b]"
			>
				Bienvenidos a la magia De tin marinera!
			</div>
		</section>
		<section class="flex border border-blue-900 justify-center items-center px-[200px]">
			<Carr
			images={[
				"/public/hero20.JPG",
				"/public/hero21.jpg",
				"/public/hero22.jpg",
				"/public/hero23.jpg",
				"/public/hero24.jpg",
				"/public/hero25.JPG",
			]}
			speed={25}
			height="800px"
		/>
</section>
		
		<Hero
			slides={[
				"/public/hero20.JPG",
				"/public/hero21.jpg",
				"/public/hero22.jpg",
				"/public/hero23.jpg",
				"/public/hero24.jpg",
				"/public/hero25.JPG",
			]}
			title="Bienvenidos a la magia De tin marinera!"
			subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis, justo ac suscipit feugiat, lectus quam ultricies ligula, sed rutrum odio purus vel magna. Etiam at magna et purus facilisis commodo."
			delay={2000}
		/>
		<!-- <Testimonial
  src="/img/claudia.jpg"
  name="Claudia:"
  text="Me encant贸 la nueva propuesta circense, mis ni帽os la pasaron genial"
/> -->
		<CarouselMultiple items={carouselItems} />
		<JoinUs
			phone="+54 123456789"
			imageSrc="/images/join-us.jpg"
			imageAlt="Unite a nuestra comunidad"
		/>
	</div>
</Layout>
