---
import Navbar from "../components/Navbar.astro";
import Hero from "../components2/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components2/Header.astro";
import Welcome from "../components2/Welcome.astro";
import Events from "../components2/Events.astro";
import Section4 from "../components2/Section4.astro";
import Contact from "../components2/Contact.astro";
---

<Layout>
    <Header />
    <div class="md:max-w-6xl md:mx-auto">
        <Hero />
        <Welcome />
        <Events />
        <Section4 />
        <Contact />
    </div>
</Layout>
