---
import Card from "./Card.astro";
import Carrousel2 from "./Carrousel2.astro";

const sec4Images2 = [
    "mama1 copy 2.png",
    "mama2 copy 2.png",
    "mama3 copy 2.png",
    "mama4 copy 2.png",
];

---

<section class="mt-12">
    <div class="flex flex-col">
        <div class="items-center px-6">
            <div>
                <h1 class="text-2xl font-semibold text-secondary text-center">
                    
                    Lo que dicen de nosotros:
                </h1>
            </div>
        </div>

        <div class="p-8 ">
            <div class="flex flex-wrap justify-center">
                <!-- {testimonials.map((testimonial) => (
          <Card
            imgSrc={testimonial.imgSrc}
            name={testimonial.name}
            testimonial={testimonial.testimonial}
          />
        ))} -->
                <Carrousel2 id="sec3ยก4" images={sec4Images2} ms={2500} />
            </div>
        </div>
    </div>
</section>
