---
export const palette = {
  azulVivo:      '#00A3E1',  // Azul Vivo
  salmonIntenso: '#F18B7A',  // Salmón Intenso
  verdeAzulado:  '#7EC89D',  // Verde Azulado
  rosaVibrante:  '#ED729E',  // Rosa Vibrante
  naranjaFuerte: '#FF5722',  // Naranja Fuerte
  verdeBrillante:'#8BC34A'   // Verde Brillante
};
const letterColors = [
  palette.azulVivo,      // D
  palette.salmonIntenso, // e
  null,                  // espacio
  palette.verdeAzulado,  // t
  palette.rosaVibrante,  // i
  palette.naranjaFuerte, // n
  null,                  // espacio
  palette.verdeBrillante,// m
  palette.azulVivo,      // a
  palette.rosaVibrante,  // r
  palette.naranjaFuerte, // í
  palette.verdeBrillante // n
];
// const letterColors = [
//   "#00A3E1", // D
//   "#F18B7A", // e
//   null,      // espacio
//   "#7EC89D", // t
//   "#ED729E", // i
//   "#E94A67", // n
//   null,      // espacio
//   "#CCD87C", // m
//   "#03A9F4", // a
//   "#FF5722", // r
//   "#8BC34A", // í
//   "#FFD54F", // n
// ];
const letters = [
  "D", "e", " ", "t", "i", "n", " ", "m", "a", "r", "i", "n"


];
---

<header class="py-6 px-40 flex items-center justify-between">
  <div class="flex items-center space-x-1 text-4xl font-harrypotter">
    {letters.map((char, i) => (
      char === " " ? <span>&nbsp;</span> : (
        <span
          class={`font-bold`}
          style={`text-shadow: 0 0 0.5px #000, 0 0 1px #000; color: ${letterColors[i]};`}
        >{char}</span>
      )
    ))}
  </div>

  <nav class="space-x-8 font-medium text-gray-800">
    <a href="#" class="hover:text-pink-500">Conócenos</a>
    <a href="#" class="hover:text-pink-500">Propuestas</a>
    <a href="#" class="hover:text-pink-500">Testimonios</a>
    <a href="#" class="hover:text-pink-500">Contáctanos</a>
  </nav>
</header>