---
import CarouselMovil from "./CarrouselMovil.astro";
import CarrouselDesktop from "./CarrouselDesktop.astro";
const sec4Images2 = [
    "mama_1.png",
    "mama_2.png",
    "mama_3.png",
    "mama_4.png",
];

---

<section class="mt-12" id="testimonios">
    <div class="flex flex-col">
        <div class="items-center px-6 pt-8 md:pt-24">
            <div>
                <h1 class="text-2xl md:text-5xl md:mb-12 font-semibold text-secondary text-center">
                    Lo que dicen de nosotros
                </h1>
            </div>
        </div>

        <div class="p-8 ">
            <div class="flex flex-wrap justify-center">
                <!-- móvil: carrusel estándar -->
                <div class="w-full md:hidden">
                    <CarouselMovil id="sec3-4-mobile" images={sec4Images2} ms={4000}/>
                </div>

                <!-- pantallas grandes: carrusel para mostrar 4 items -->
                <div class="hidden md:block w-full">
                    <CarrouselDesktop id="sec3-4-desktop" images={sec4Images2} ms={4000} />
                </div>
            </div>
        </div>
    </div>
</section>
