---
import '../styles/global.css';
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light only">
    <title>De Tin Marín</title>
    <style>
      :root {
        color-scheme: light only;
      }
    </style>
  </head>
  <body class="font-sans leading-relaxed font-Poppins bg-white">
      <slot />
  </body>
</html>