---
import '../styles/global.css';
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>De Tin Marín</title>
  </head>
  <body class="font-sans leading-relaxed font-Poppins bg-white">
      <slot />
  </body>
</html>